.headtext{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    p{
        color: rgb(116, 114, 116);
    }
    h1{}
    .intext{
        width: 40%;
        margin-bottom: 0;
        margin: auto;
        p{
            margin-top: 3rem;
            margin-bottom: 0;
            color: black;
        }
    }
}