footer { 
    flex-shrink: 0;
    width: 100%;
    // position: absolute;
    // bottom: 0;
    background-color: $bg-body;
    padding-top: 1.5rem;
    padding-bottom: 0.9rem;
    border-top: 1px solid rgb(146, 129, 122);
    .bigDiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
        // .f-div {
            
        //     }
            .f-link {
                text-decoration: none;
                color: $text-nav;
                padding: 10px;
            }
        }
    .f-p {
        display: block;
        padding: 10px;
        text-align: center;
        color: $text-nav;
    }
}
