footer {
    
    width: 100%;
    // position: absolute;
    // bottom: 0;
    background-color: $bg-nav;
    padding-top: 10px;
    padding-bottom: 10px;
    // margin-bottom: -1rem;
    .bigDiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
        // .f-div {
            
        //     }
            .f-link {
                text-decoration: none;
                color: $text-nav;
                padding: 10px;
            }
        }
    .f-p {
        display: block;
        padding: 10px;
        text-align: center;
        color: $text-nav;
    }
}
