$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$user: rgba(214, 115, 22, 0.645);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
.navbar {
    font-family: 'Great Vibes', cursive;
    overflow: hidden;
    background-color: rgb(248, 209, 158);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    #logoLink {
        text-decoration: none;
    }
    #logoLink:hover {
        transform: scale(1.2);
        transition: width 2s, height 2s, transform 1s;
    }
    .navLink {
        font-size: 30px;
        color: $text-nav;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
    }
    #logoText {
        font-size: 30px;
        color: $text-nav;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
    }
    a {
        color: $text-nav;
        display: block;
        text-align: left;
    }
}

.navLink:hover {
    background-color: $bg-nav-hover;
    border-radius: 10px;
}

// .dropdown:hover {
//     .dropButton {
//         background-color: $bg-nav-hover;
//         .dropdown-content {
//             display: block;
//         }
//     }
//     .dropdown-content {
//         display: block;
//         a:hover {
//             background-color: $bg-nav-hover;
//         }
//     }
// }

#something {
    color: blue;
}
.adm, .user{
    font-size: x-large;
    color: $text-nav;
}
.adm:hover, .user:hover{
    color: $user;
}