$text-nav: rgb(115, 14, 29);
$text-nav-light: rgb(168, 25, 47);
$text-nav-dark: rgb(83, 19, 30);
$bg-nav: rgb(248, 209, 158);
$user: rgba(214, 115, 22, 0.645);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: rgb(250, 247, 244);
.navbar {
    // font-family: 'Great Vibes', cursive;
    font-family: 'Quicksand', sans-serif;
    background-color: $bg-body;
    li, .dropdown-menu {
        background-color: $bg-body;
    }
    #logoLink, .nav-link, .dropdown-item, .navLink, .user {
        color: $text-nav;
        text-decoration: none;
        color: $text-nav-dark;
    }
    #logoLink:hover, .nav-link:hover, .dropdown-item:hover, .navLink:hover, .user:hover {
        color: $text-nav-light;
        background-color: $bg-body;
    }
}