@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.navbar {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(250, 247, 244);
}
.navbar li, .navbar .dropdown-menu {
  background-color: rgb(250, 247, 244);
}
.navbar #logoLink, .navbar .nav-link, .navbar .dropdown-item, .navbar .navLink, .navbar .user {
  color: rgb(115, 14, 29);
  text-decoration: none;
  color: rgb(83, 19, 30);
}
.navbar #logoLink:hover, .navbar .nav-link:hover, .navbar .dropdown-item:hover, .navbar .navLink:hover, .navbar .user:hover {
  color: rgb(168, 25, 47);
  background-color: rgb(250, 247, 244);
}

.container {
  margin: 0;
  padding: 0px 0px !important;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.container .btn {
  margin-top: 0.5rem;
}
.container .form-group {
  height: 100%;
  width: 75%;
}
.container .form-group h2 {
  margin: 2rem;
}
.container .form-group .btns {
  text-align: center;
  margin-bottom: 1rem;
}
.container .form-group .btns .btn {
  margin-top: 0.5rem;
}
.container .form-group .link {
  text-decoration: none;
  color: rgb(115, 14, 29);
}
.container .form-group .link:hover {
  text-decoration: underline;
}

.wrap {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrap .wrapper {
  margin: 10px 0 auto;
  padding: 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .wrapper #hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/hero2.jpg");
  background-repeat: no-repeat;
  background-position: left;
  transform: rotateY(180deg);
}
.wrap .wrapper #hero .inner {
  transform: rotateY(180deg);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.wrap .wrapper #hero .inner .imgDiv {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.wrap .wrapper #hero .inner .imgDiv .userImage {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 3rem;
}
.wrap .wrapper #hero .inner .txtDiv {
  display: flex;
  flex-direction: row;
}
.wrap .wrapper #hero .inner .txtDiv .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}
.wrap .wrapper #hero .inner .txtDiv .text p {
  font-family: "Quicksand", sans-serif;
  color: rgb(17, 4, 6);
  font-size: xx-large;
}
.wrap .wrapper #hero .inner .txtDiv .but {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}
.wrap .wrapper .userWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .wrapper .userWrap .users {
  margin: auto;
  width: 75%;
  display: block;
}
.wrap .wrapper .userWrap .usersSmall {
  display: none;
}

@media screen and (max-width: 991px) {
  body .wrap .wrapper #hero .inner .imgDiv .userImage {
    margin: 1rem auto;
  }
  body .wrap .wrapper .userWrap .users {
    margin: auto;
    width: 75%;
    display: none;
  }
  body .wrap .wrapper .userWrap .usersSmall {
    margin: auto;
    width: 75%;
    display: block;
  }
  body .container {
    width: 100%;
  }
  body .container .form-group {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  body .wrap .wrapper #hero {
    width: 100%;
  }
  body .wrap .wrapper #hero .inner .imgDiv {
    margin: 0;
    padding: 0;
    width: 30%;
  }
  body .wrap .wrapper #hero .inner .imgDiv .userImage {
    margin: 0.5rem auto;
    width: 5rem;
    height: 5rem;
  }
  body .wrap .wrapper #hero .inner .txtDiv {
    margin: 0;
  }
}
.container-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.container-recipe .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.container-recipe .head h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container-recipe .head .btns {
  margin-bottom: 1rem;
}
.container-recipe .head .btns .btn {
  color: white;
  background-color: rgb(115, 14, 29);
  border: 1px solid white;
}
.container-recipe .head .btns .btn:hover {
  background-color: white;
  color: rgb(115, 14, 29);
  border: 1px solid rgb(115, 14, 29);
}
.container-recipe .main {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-recipe .main .imageDiv {
  width: -moz-fit-content;
  width: fit-content;
  height: 35rem !important;
  overflow: hidden;
}
.container-recipe .main .imageDiv #image {
  height: 35rem !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-recipe .main .textsDiv {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-recipe .main .textsDiv .textR {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.container-recipe .main .textsDiv .textR .textInner {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: auto;
}
.container-recipe .main .textsDiv .textR .textInner h4 {
  margin: 0.5rem;
}
.container-recipe .main .textsDiv .textR .textInner .link {
  text-decoration: none;
  color: rgb(83, 19, 30);
}
.container-recipe .main .textsDiv .textR .textInner .link:hover {
  text-decoration: underline;
}
.container-recipe .entries {
  margin: auto;
  width: 75%;
}
.container-recipe .entries .big {
  margin: 2rem;
  text-align: center;
}
.container-recipe .entries .headline {
  text-align: left;
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 0;
  color: rgb(115, 14, 29);
}
.container-recipe .entries .ingredient {
  list-style: none;
  padding: 10px;
  color: black;
}
.container-recipe .entries .ingredient input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
.container-recipe .entries .ingredient input[type=checkbox]:checked {
  accent-color: rgb(115, 14, 29);
}
.container-recipe .entries .instruction {
  list-style-type: none;
  padding-bottom: 1rem;
  color: black;
}
.container-recipe .entries .instruction span {
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.container-recipe .entries2 {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .main {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .main .imgDiv {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .main .imgDiv #image {
    width: 100vw;
  }
  .main .imgDivUser {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .main .imgDivUser #imageUser {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .main {
    flex-wrap: wrap;
    width: auto;
  }
}
footer {
  flex-shrink: 0;
  width: 100%;
  background-color: rgb(250, 247, 244);
  padding-top: 1.5rem;
  padding-bottom: 0.9rem;
  border-top: 1px solid rgb(146, 129, 122);
}
footer .bigDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .bigDiv .f-link {
  text-decoration: none;
  color: rgb(115, 14, 29);
  padding: 10px;
}
footer .f-p {
  display: block;
  padding: 10px;
  text-align: center;
  color: rgb(115, 14, 29);
}

.hero {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  height: 30rem;
  width: 100%;
  background-image: url("../img/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.hero .heroText {
  font-family: "Great Vibes", cursive;
  margin: 3rem;
}
.hero .heroText h1 {
  font-size: 5rem;
}
.hero .heroText p {
  font-size: 2rem;
}

.heroSmall {
  position: relative;
  display: none;
  background-image: url("../img/small-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
}

@media screen and (max-width: 991px) {
  .hero {
    display: none;
  }
  .heroSmall {
    display: block;
  }
}
.headtext {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.headtext p {
  color: rgb(116, 114, 116);
}
.headtext .intext {
  width: 40%;
  margin-bottom: 0;
  margin: auto;
}
.headtext .intext p {
  margin-top: 3rem;
  margin-bottom: 0;
  color: black;
}

.container-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container-recipe .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.container-recipe .head h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container-recipe .head .btns {
  margin-bottom: 1rem;
}
.container-recipe .head .btns .btn {
  color: white;
  background-color: rgb(115, 14, 29);
  border: 1px solid white;
}
.container-recipe .head .btns .btn:hover {
  background-color: white;
  color: rgb(115, 14, 29);
  border: 1px solid rgb(115, 14, 29);
}
.container-recipe .main {
  width: 75%;
  margin: auto;
}
.container-recipe .main .imageDiv {
  width: -moz-fit-content;
  width: fit-content;
  height: 35rem;
  overflow: hidden;
}
.container-recipe .main .textDiv {
  width: -moz-fit-content;
  width: fit-content;
}
.container-recipe .main .textDiv .textR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.container-recipe .main .textDiv .textR .link {
  text-decoration: none;
  color: rgb(115, 14, 29);
}
.container-recipe .main .textDiv .textR .link:hover {
  text-decoration: underline;
  color: rgb(155, 39, 56);
}
.container-recipe .entries {
  margin: auto;
  width: 75%;
}
.container-recipe .entries .big {
  margin: 2rem;
  text-align: center;
}
.container-recipe .entries .headline {
  text-align: left;
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 0;
  color: rgb(115, 14, 29);
}
.container-recipe .entries .ingredient {
  list-style: none;
  padding: 10px;
  color: black;
}
.container-recipe .entries .ingredient input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
.container-recipe .entries .ingredient input[type=checkbox]:checked {
  accent-color: rgb(115, 14, 29);
}
.container-recipe .entries .instruction {
  list-style-type: none;
  padding-bottom: 1rem;
  color: black;
}
.container-recipe .entries .instruction span {
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.container-recipe .entries2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.par {
  width: -moz-fit-content;
  width: fit-content;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 247, 244) !important;
  font-family: "Quicksand", sans-serif !important;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body .container {
  flex: 1 0 auto;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
body .container .dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .cont {
  flex: 1 0 auto;
}
body td, body th {
  text-align: center;
}
body .aboutImg {
  height: 15rem;
}
body .ingredients, body .instructions {
  width: 100%;
  margin: 2rem;
}
body .btn {
  color: white;
  background-color: rgb(115, 14, 29);
  border: 1px solid rgb(115, 14, 29);
}
body .btn:hover {
  background-color: white;
  color: rgb(115, 14, 29);
  border: 1px solid rgb(115, 14, 29);
}
body .headline {
  text-align: center;
  margin: 3rem;
}
body .headline .btns {
  text-align: center;
  margin-bottom: 1rem;
}
body .headline .btns .link {
  text-decoration: none;
  color: rgb(250, 247, 244);
}
body .headline .btns .link:hover {
  color: rgb(115, 14, 29);
}
body .contSweets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
}
body .contSweets .item {
  position: relative;
  padding: 10px;
  margin: 2rem;
  border: 2px;
  border-radius: 20px;
  box-shadow: rgba(235, 167, 64, 0.548) 0px 7px 9px 0px;
  height: 35rem;
  width: 25rem;
}
body .contSweets .item a .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body .contSweets .item .itemText {
  position: absolute;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  top: 30%;
  visibility: hidden;
  background-color: rgba(7, 7, 7, 0.6);
}
body .contSweets .item .itemText p {
  color: white;
  padding: 5px;
  text-align: center;
}
body .contSweets .item .itemText .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
body .contSweets .item:hover {
  transform: scale(1.1);
  transition: width 1s, height 1s, transform 1s;
}
body .contSweets .item:hover > .itemText {
  visibility: visible;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body .contSweets {
    padding: 0;
  }
  body .contSweets .item {
    margin: auto;
    margin-bottom: 2rem;
    height: 25rem;
    width: 17rem;
    margin-left: 5rem;
    padding: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  body .headline {
    text-align: center;
    margin: 0.5rem;
    padding: 0;
  }
  body .headline p {
    margin-bottom: 0;
    font-size: smaller;
  }
  body .intext {
    margin: 0;
  }
  body .intext p {
    margin-bottom: 0.2rem;
  }
  body .contSweets {
    padding: 0;
  }
  body .contSweets .item {
    margin: auto;
    margin-bottom: 2rem;
    height: 25rem;
    width: 17rem;
    margin-left: 2rem;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  body .headline {
    text-align: center;
    margin: 0.3rem;
    padding: 0;
  }
  body .headline p {
    margin-bottom: 0;
    font-size: smaller;
  }
  body .headline h1 {
    margin-bottom: 0;
  }
  body .contSweets {
    margin: auto;
    padding: 5px;
  }
  body .contSweets .item {
    margin-bottom: 0.5rem;
    height: 25rem;
    width: 17rem;
    margin-left: 1rem;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */