.detailsContainer{
    // display: block;
    // flex-direction: column !important;
    // justify-content: start;
    // align-items: center;
    .content{
        // background-color: rgb(234, 224, 213);
        // padding-top: 10rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        min-height: 90vh;
        width: 100%;
        margin: auto;
        margin-top: 0;
        .cover, .cover2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin: auto;

                .imgDiv{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    margin: auto;
                    width: 50%;
                    #image{
                        height: 40rem;
                        width: 70%;
                        margin: auto;
                        border-radius: 5px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                }
                .textDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    .btn{
                        background-color: black;
                        color: white;
                    }
                    .btn:hover{
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                        text-shadow: 2px 2px 4px #000000;
                    }
                }
        }
        .cover2{
            padding: 2rem;
            p{
                margin-left: 4rem;
                margin-right: 4rem;
            }
        }
        // #image:hover{
        //     transform: scale(1.05);
        //     transition: width 1s, height 1s, transform 1s;
        // }

    
    }
}
@media screen and (max-width: 768px) {
    .cover{
        display: flex !important;
        flex-direction: column !important;
        .imgDiv{
            width: 100vw;
            margin: auto;
        }
        .textDiv{
            margin: auto;
            width: 100%;
            h1, span, h2{
                font-size: 10px;
            }
            
        }
    }
}